@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #727171;
    background: linear-gradient(to right, #101010, #101010);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
}

.container{
    background-color: #d9d9d9;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #660000;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #bab8b8;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
  
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #000000;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #660000;
    height: 100%;
    background: linear-gradient(to right, #660000, #660000);
    color: #d9d9d9;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

.back-btn {
    position: absolute;
    top:10px;
    left: 20px;
    background-color: #660000;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    z-index: 10;
}

.back-btn a {
    color: white;
    text-decoration: none;
}
.navbar {
  position: fixed;       
  top: 0;
  left: 0;
  width: 100%;
  height: 87px;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  background-color: rgba(20, 20, 20, 0.95);
  border-radius: 0 0 15px 15px;

  transition: all 0.3s ease;
}


.logo {
  font-size: 50px;
  font-weight: bold;
  color: red;
}

.logo span {
  color: white;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: red;
  font-weight: 500;
}

.nav-right input {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.register {
  margin-left: 10px;
  background: red;
  color: black;
  border: none;
  padding: 8px 18px;
  border-radius: 5px;
  cursor: pointer;
}
.category {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.category button a {
  color: white;
  text-decoration: none;
  list-style: none;
}


.category button {
  margin: 0 10px;
  padding: 8px 20px;
  border-radius: 20px;
  background: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.category button:hover {
  background: rgba(255, 255, 255, 0.144);
  color: black;
  transform: translateY(-1px) scale(1.05);
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.3);
}