
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #0f0f0f;
  color: white;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: transparent;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: red;
}

.logo span {
  color: white;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: red;
  font-weight: 500;
}

.nav-right input {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.register {
  margin-left: 10px;
  background: red;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 18px;
  border-radius: 5px;
  cursor: pointer;
}

.hero {
  height: 95vh;
  width: 100%;
  background: inherit;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.hero-content {
  max-width: 500px;
}

.hero-content h1 {
  font-size: 60px;
  letter-spacing: 10px;
  color: red;
}

.hero-content p {
  margin: 15px 0;
  font-size: 20px;
}

.hero-content span {
  color: red;
  font-weight: bold;
}

.play-btn {
  padding: 12px 30px;
  border-radius: 30px;
  border: 2px solid red;
  background: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.play-btn:hover {
  background: red;
  color: black;
}

.category {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.category button {
  margin: 0 10px;
  padding: 8px 20px;
  border-radius: 20px;
  background: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.category button:hover {
  background: red;
  color: black;
}

.container {
  padding: 30px;
 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 35px;
  display: flex;
  align-items: center;
}

.bar {
  width: 5px;
  height: 35px;
  background: rgb(255, 0, 0);
  margin-right: 10px;
}

.header a {
  color: #aaa;
  text-decoration: none;
}


.slider-wrapper {
  position: relative;
   place-content: center;
  place-items: center;
}

.slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 15px;
}

.slider::-webkit-scrollbar {
  display: none;
}


.card {
  min-width: 260px;
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  padding: 10px;
}

.card img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  padding: 12px;
}

.info h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.meta {
  display: flex;
  justify-content: space-between;
  color: #ccc;
  font-size: 14px;
}

.nav {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px 14px;
  cursor: pointer;
  z-index: 10;
}

.nav.left {
  left: -10px;
}

.nav.right {
  right: -10px;
}

.progress {
  margin-top: 15px;
  height: 4px;
  background: #222;
}

.progress .line {
  width: 60%;
  height: 100%;
  background: red;
  display: block;
}
